<% content_for :title do %>Editing Mail Alias<% end -%>
<h1>Editing Mail Alias</h1>
<%= form_for(@mailalias_source) do |f| -%>
<% if flash[:notice] -%>
<div class="notice"><%= flash[:notice] %></div>
<% end -%>
<%= errors_for(@mailalias_source, "Opps, unable to edit mail alias").html_safe %>
<div class="field_container"><%= f.label :source %><%= f.text_field :source %>@<%= @mailalias_source.domain.name %></div>
<blockquote>
<%= f.fields_for :destinations do |dest_form| %>
<%# errors_for(destination, "Opps, unable to edit mail alias").html_safe %>
<div class="field_container"><% if dest_form.object.new_record? -%>
<%= dest_form.label :destination, "New Destination" -%>
<%- else %>
<%= dest_form.label :destination, "Destination" -%>
<%- end %>
</div>
<%= dest_form.text_field :destination, :size => 30 %>
<% unless dest_form.object.new_record? %>
	<% # Don't forget to name both of these '_destroy' in Rails 3 %>
	<%= dest_form.check_box '_destroy' %>
	<%= dest_form.label '_destroy', 'Remove' %>
<%# form_for([@mailalias_source, @new_destination]) do |f| -%>
<%# errors_for(@new_destination, "Opps, unable to edit mail alias").html_safe %>
<!-- <div class="field_container"><%# f.label("Add Destination") %><%# f.text_field :destination, :size => 20 %> <%# f.submit "Add" -%></div> -->
<%# end -%>
<% end %>
<% end -%>
</blockquote>
<%= f.submit "Update" -%>
<% end -%>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>