<% content_for :title do %>New Mail Alias<% end -%>
<h1>New Mail Alias</h1>
<%= form_for([@domain, @mailalias_source]) do |f| -%>
<% if flash[:notice] -%>
<div class="notice"><%= flash[:notice] %></div>
<% end -%>
<%= errors_for(@mailalias_source, "Opps, unable to edit mail alias").html_safe %>
<div class="field_container"><%= f.label :source %><%= f.text_field :source %>@<%= @domain.name %></div>
<%= f.submit "Create Alias" -%>
<% end -%>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>