<% content_for :title do %>Email User<% end -%>
<h1>Email Alias Details</h1>
<%= link_to("Edit", edit_mailalias_source_path(@mailalias_source)) %> | <%= link_to 'Delete', @mailalias_source, :method => 'delete', :confirm => 'Are you sure?' %>
<p>
  <b>Email:</b>
  <%=h @mailalias_source.source %>@<%= h @mailalias_source.domain.name %>
</p>
<% for destination in @mailalias_source.destinations(false) %>
<p>
  <b>Destination:</b>
  <%=h destination.destination %>
</p>
<% end %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>