<% content_for :title do %>Change Email Password<% end -%>
<%= form_for(:email_user, :action => "change_email_password") do |f| %>
<div class="error"><%= @errors %></div>
<h1>Current Details</h1>
<div class="field_container"><%= f.label :email, "Email Address" %><%= f.text_field(:email, :value => @username) %></div>
<div class="field_container"><%= f.label :password, "Current Password" %><%= f.password_field(:password) %></div>
<h1>Captcha</h1>
<%= recaptcha_tags %>
<h1>New Details</h1>
<div class="field_container"><%= f.label :new_password_1, "New Password" %><%= f.password_field(:new_password_1) %></div>
<div class="field_container"><%= f.label :new_password_2, "New Password (Confirm)" %><%= f.password_field(:new_password_2) %></div>
<%= f.submit("Change") %>
<% end %>
<% content_for :sidebar do -%>
<h2>Change Email Password</h2>
<% end -%>