<% content_for :title do %>Login<% end -%>
<%= form_for(:user, :action => "login") do |f| %>
<div class="error"><%= @errors %></div>
<h1>Domain Login</h1>
<div class="field_container"><%= f.label :login, "Username" %><%= f.text_field(:login) %></div>
<div class="field_container"><%= f.label :password %><%= f.password_field(:password) %></div>
<% if @origin != nil %>
<%= hidden_field(:origin, :action, :value => @origin[:action]) %>
<%= hidden_field(:origin, :controller, :value => @origin[:controller]) %>
<%= hidden_field(:origin, :id, :value => @origin[:id]) %>
<% end %>
<%= f.submit("Login") %>
<% end %>
<br/>
<h1>Email Users</h1>
<%= link_to :action => "change_email_password" do %>
Change My Password
<% end %>

<% content_for :sidebar do -%>
<h2>Login</h2>
<% end -%>
