<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field_container"><%= f.label :login %><%= f.text_field :login %></div>
<div class="field_container"><%= f.label :name %><%= f.text_field :name %></div>
<div class="field_container"><%= f.label :address %><%= f.text_field :address %></div>
<div class="field_container"><%= f.label :email %><%= f.text_field :email %></div>
<div class="field_container"><%= f.label("New Password") %><%= f.password_field :password1, :value => "" %></div>
<div class="field_container"><%= f.label("Confirm Password") %><%= f.password_field :password2, :value => "" %></div>
<div class="field_container"><%= f.label :administrator %><%= f.check_box :administrator %></div>  
<%= f.submit "Update" %>
<% end %>
