<% content_for :title do %>Administer System Users<% end -%>
<h1>Administer Users</h1>

<table width="100%">
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
    <th>Admin?</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to(user.login, user) %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><% if user.administrator %>yes<% else %>no<% end %></td>
    <td><%= link_to 'E', edit_user_path(user) %><% if !user.administrator %> <%= link_to 'D', user, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
  </tr>
<% end %>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>