<% content_for :title do %>System User Details<% end -%>
<h1>System User Details</h1>
<%= link_to("Edit", edit_user_path(@user)) %> | <%= link_to 'Delete', @user, :confirm => 'Are you sure?', :method => :delete %>
<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Administrator:</b>
  <% if @user.administrator %>yes<% else %>no<% end %>
</p>
<br/>