<%= form_for(@voip_cost) do |f| %>
  <% if @voip_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voip_cost.errors.count, "error") %> prohibited this voip_cost from being saved:</h2>

      <ul>
      <% @voip_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :flagfall %><br />
    <%= f.number_field :flagfall %>
  </div>
  <div class="field">
    <%= f.label :timecost %><br />
    <%= f.text_field :timecost %>
  </div>
  <div class="field">
    <%= f.label :timeperiod %><br />
    <%= f.number_field :timeperiod %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
