<h1>Listing voip_costs</h1>

<table width="100%">
  <tr>
    <th>Description</th>
    <th></th>
    <th>Cost</th>
    <th></th>
  </tr>

<% @voip_costs.each do |voip_cost| %>
  <tr>
    <td><%= link_to voip_cost.name, voip_cost %></td><td><%= voip_cost.start_date.strftime("%y-%m-%d") %></td>
    <td><%= voip_cost.flagfall %><% if voip_cost.timecost > 0 %> + <%= voip_cost.timecost %> per <%= voip_cost.timeperiod %>s <% end %></td>
    <td><%= link_to 'D', voip_cost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voip cost', new_voip_cost_path %>
