<% content_for :title do %>VoIP Cost Details for <%= @voip_cost.name %><% end -%>
<h1>VoIP Cost Details for <%= @voip_cost.name %></h1>
Applicable From: <%= @voip_cost.start_date.strftime("%y-%m-%d") %>
<p id="notice"><%= notice %></p>

<p>
	<b>Numbers Matching:</b>
	<%= @voip_cost.number %>
</p>

<p>
	<b>Cost:</b>
	<%= @voip_cost.flagfall %> cents plus <%= @voip_cost.timecost %> cents every <%= @voip_cost.timeperiod %> seconds 
</p>

Examples:
<blockquote>
10 seconds would cost <%= number_to_currency(@voip_cost.for_duration(10) / 100.0) %><br/>
1 Minute would cost <%= number_to_currency(@voip_cost.for_duration(60) / 100.0) %><br/>
5 Minutes would cost <%= number_to_currency(@voip_cost.for_duration(300) / 100.0) %><br/>
10 Minutes would cost <%= number_to_currency(@voip_cost.for_duration(600) / 100.0) %><br/>
<%= text_field_tag(:cost_time, "", :size => 5) %>seconds would cost $<%= text_field_tag(:cost_cost, "", :size => 5)%><br/>
</blockquote>

<script>
var flagfall = <%= @voip_cost.flagfall %>;
var cost = <%= @voip_cost.timecost %>;
var time = <%= @voip_cost.timeperiod %>;

function calc_cost() {
	var calctime = parseInt($("#cost_time").val());
	if (isNaN(calctime)) {
		$("#cost_cost").val("Unknown");	
		return;
	}
	var calccost = flagfall;
	if (cost > 0)
		calccost += (cost * calctime) / time;
	calccost = Math.ceil(calccost) / 100.0;

	$("#cost_cost").val(calccost);
}

$().ready(function() {
	$("#cost_time").bind('keyup', calc_cost);
});
</script>

<%= link_to 'Duplicate', duplicate_voip_cost_path(@voip_cost) %> |
<%= link_to 'Edit', edit_voip_cost_path(@voip_cost) %> |
<%= link_to 'Back', voip_costs_path %>
