<h1>Editing mailforward</h1>

<% form_for(@mailforward) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>@<%= @mailforward.domain.name %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @mailforward %> |
<%= link_to 'Back', :action => "index", :controller => "email", :id => @mailforward.domain.id %>
