<h1>New mailforward</h1>

<% form_for(@mailforward) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>@<%= @domain.name %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
		<%= f.hidden_field(:domain_id) %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mailforwards_path %>
