<p>
  <b>Source:</b>
  <%=h @mailforward.source %>@<%=h @mailforward.domain.name %></td>
</p>

<p>
  <b>Destination:</b>
  <%=h @mailforward.destination %>
</p>

<%= link_to 'Edit', edit_mailforward_path(@mailforward) %> |
<%= link_to 'Back', :action => "index", :controller => "email", :id => @mailforward.domain.id %>
