<% content_for :title do %>Domain Details<% end -%>
<h1>Domain Details</h1>
<table width="100%">
  <tr>
    <th>Name</th>
    <th>Paid up until</th>
<% if @currentuser.administrator -%>
    <th>Owner</th>
<% end -%>
  </tr>

<% for domain in @domains %>
  <tr>
    <td <% if domain.expired%>class="red"<%end%>><%= link_to(domain.name, domain) %></td>
    <td <% if domain.expired%>class="red"<%end%>><%= domain.paiduntil %></td>
<% if @currentuser.administrator -%>
    <td <% if domain.expired%>class="red"<%end%>><%= domain.owner.name %></td>
    <td><%= link_to 'E', edit_domain_path(domain) %> <%= link_to 'D', domain, :confirm => 'Are you sure?', :method => :delete %></td>
<% end -%>
  </tr>
<% end %>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>