<% content_for :title do %>New Domain<% end -%>
<h1>New Domain</h1>
<%= form_for(@domain) do |f| %>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= errors_for(@domain, "Opps, unable to edit domain").html_safe %>
<div class="field_container"><%= f.label :name %><%= f.text_field :name %></div>
<div class="field_container"><%= f.label :paiduntil %><%= f.date_select :paiduntil %></div>
<div class="field_container"><%= f.label :owner %><%= f.select(:owner_id, User.find(:all).collect {|c| [ c.name, c.id ] }) %></div>
<div class="field_container"><%= f.label :email %><%= f.check_box :email %></div>
<%= f.submit "Update" %>
<% end %>
<br/>
<br/>
<br/>
<br/>
<br/>