<% content_for :title do %>Domain Details<% end -%>
<h1>Domain Details</h1>
<% if @currentuser.administrator -%>
<%= link_to("Edit", edit_domain_path(@domain)) %> | <%= link_to 'Delete', @domain, :confirm => 'Are you sure?', :method => :delete %>
<% end -%>
<p>
  <b>Name:</b>
  <%=h @domain.name %>
</p>

<p>
  <b>Paiduntil:</b>
  <%=h @domain.paiduntil %>
</p>

<p>
  <b>Owner:</b>
  <%=h @domain.owner.name %>
</p>
<% if @domain.email %>
<h1>Email Admin for <%= @domain.name %></h1>
<h2>Aliases</h2>
<table width="100%">
  <tr>
    <th>Source</th>
    <th>Destinations</th>
  </tr>
<% for source in @domain.aliases %>
	<tr>
		<td><%= link_to("#{source.source}@#{@domain.name}", source) %></td>
		<% index = 1 %>
		<td><% for destination in source.destinations -%>
			<%= destination.destination -%><% if index < source.destinations.size %>, <% end -%>
			<% index +=1 -%>
			<% end %></td>
	  <td><%= link_to 'E', edit_mailalias_source_path(source) %> | <%= link_to 'D', source, :confirm => 'Are you sure?', :method => :delete %></td>	
	</tr>
<% end %>
</table>
<h2>Users</h2>
<table width="100%">
	<tr>
    <th>Login/Email</th>
    <th>Quota</th>
  </tr>
<% for mailuser in @domain.users %>
<tr>
	<td><%= link_to(mailuser.name + "@" + @domain.name, mailuser) %></td>
	<td><%=h number_with_delimiter(mailuser.quota) %> MB</td>
  <td><%= link_to 'E', edit_mailuser_path(mailuser) %> | <%= link_to 'D', mailuser, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<% end %>