<%= form_for(@mailuser) do |f| %>
  <% if @mailuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailuser.errors.count, "error") %> prohibited this Mail User from being saved:</h2>

      <ul>
      <% @mailuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :domain_id %>
<div class="field_container"><%= f.label :name %><%= f.text_field :name %>@<%= @mailuser.domain.name %></div>
<div class="field_container"><%= label(:password, :one, "Password") %><%= password_field(:password, :one) %></div>
<div class="field_container"><%= label(:password, :two, "Confirm Password") %><%= password_field(:password, :two) %></div>
<div class="field_container"><%= f.label :quota %><%= f.text_field :quota %></div>
<% if @mailuser.new_record? %>
<%= f.submit "Create" %>
<%- else %>
<%= f.submit "Update" %>
<%- end %>
<% end %>
