<% content_for :title do %>Editing <%= @mailuser.name%>@<%= @mailuser.domain.name %><% end -%>
<h1>Editing <%= @mailuser.name%>@<%= @mailuser.domain.name %></h1>
<%= render "form" %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>