<% content_for :title do %>Email User<% end -%>
<h1>Email User Details</h1>
<%= link_to("Edit", edit_mailuser_path(@mailuser)) %> | <%= link_to 'Delete', @mailuser, :confirm => 'Are you sure?', :method => :delete %>

<p>
  <b>Email:</b>
  <%=h @mailuser.name %>@<%= h @mailuser.domain.name %>
</p>

<p>
  <b>Quota:</b>
  <%=h number_with_delimiter(@mailuser.quota) %> MB
</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>