/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
/** {
	border:0;
	margin:0;
	padding:0;
}*/

/* body */
body {
	background:#fff;
	color:#666;
	font:0.75em/100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	line-height:1.4em;
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#9C0;
	text-decoration:none;
}

a:hover {
	color:#555;
	text-decoration:none;
}

/* header */
#header {
	background:#323232 asset-url("background_header.jpg", image) center repeat-y;
	width:100%;
	border:0;
	margin:0;
	padding:0;
}

#header:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
	border:0;
	margin:0;
	padding:0;	
}

#header_inside {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	margin:0 auto;
	width:800px;
	border:0;
	padding:0;
}

#header_inside h1 {
	color:#fff;
	float:left;
	font:3.2em 'Trebuchet MS', Verdana, sans-serif;
	height:100px;
	line-height:100px;
	margin:0 0 0 20px;
	width:300px;
	border:0;
	padding:0;
}

#header_inside h1 span {
	color:#9c0;
	border:0;
	margin:0;
	padding:0;
}

#header_inside ul {
	float:right;
	height:100px;
	list-style:none;
	width:450px;
	border:0;
	margin:0;
	padding:0;
}

#header_inside ul li {
	border-right:1px solid #555;
	float:right;
	height:100px;
	list-style:none;
	width:75px;
	margin:0;
	padding:0;
}

#header_inside ul li a {
	color:#fff;
	display:block;
	height:50px;
	line-height:50px;
	padding:50px 0 0;
	text-align:center;
	width:75px;
	margin:0;
}

#header_inside ul li a:hover {
	background:#fff;
	color:#111;
}

#header_inside ul li a.active {
	background:#fff;
	color:#111;
}

/* content */
#content {
	background:#fff url(image_path("background_content.jpg")) center repeat-y;
	width:100%;
	border:0;
	margin:0;
	padding:0;
}

#content:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
	border:0;
	margin:0;
	padding:0;
}

#content_inside {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	margin:0 auto;
	width:800px;
	padding:0;
}

#content_inside_sidebar {
	border-left:1px solid #bbb;
	float:right;
	line-height:175%;
	margin:5px 0 5px 570px;
	padding:0 0 0 10px;
	position:absolute;
	width:200px;
}

#content_inside_sidebar h2 {
	background:#fff;
	color:#000;
	font-size:110%;
	font-weight:400;
	padding:5px 0;
	text-align:right;
	border:0;
	margin:0;
}

#content_inside_sidebar ul {
	letter-spacing:-1px;
	list-style:none;
	margin:0 0 10px;
	border:0;
	padding:0;
}

#content_inside_sidebar ul li {
	list-style:none;
	text-align: right;
	border-bottom:1px solid #e9e9e9;
	margin:0;
	padding:3px;
}

#content_inside_sidebar ul li a {
//	border-bottom:1px solid #e9e9e9;
	display:block;
	padding:3px;
	text-align:right;
	width:194px;
	border:0;
	margin:0;
}

#content_inside_sidebar ul li a:hover {
	background:#ddd;
	color:#000;
	border:0;
	margin:0;
	padding:3px;
}

#content_inside_main {
	background:#fff;
	letter-spacing:-1px;
	line-height:175%;
	margin:0 auto;
	padding:10px 235px 10px 10px;
	width:550px;
	border:0;
}

#content_inside_main h1 {
	border-bottom:1px solid #ccc;
	font-size:125%;
	padding:0 0 2px;
	border:1;
	margin:0;
}

#content_inside_main h2 {
	color:#ccc;
	font-size:115%;
	text-align:right;
	border:0;
	margin:0;
	padding:0;
}

#content_inside_main p {
	padding:0 0 10px;
	border:0;
	margin:0;
}

/* footer */
#footer {
	background:#323232 url(image_path("background_footer.jpg")) center repeat-y;
	height:100px;
	width:100%;
	border:0;
	margin:0;
	padding:0;	
}

#footer:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
	border:0;
	margin:0;
	padding:0;
}

#footer_inside {
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
	height:100px;
	margin:0 auto;
	width:800px;
	border:0;
	padding:0;
}

#footer_inside p {
	color:#fff;
	line-height:100px;
	text-align:center;
	border:0;
	margin:0;
	padding:0;
}

/* Extra Styles */
.field_container label {
	width:150px;    /*Or however much space you need for the form’s labels*/
	float:left;
}

.notice {
	color: red;
	font-style: italic;
}

.red {
	color: red;
}

.error {
	color: red;
	text-size: 110%;	
}

.selected {
	font-style: italic;
	background: #EEEEEE !important;
}

.hidden {
	display: none;
}