<%= form_for(@voip_account) do |f| %>
  <% if @voip_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voip_account.errors.count, "error") %> prohibited this voip_account from being saved:</h2>

      <ul>
      <% @voip_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field_container"><%= f.label :name %>
<% if @currentuser.administrator -%>
<%= f.text_field :name %>
<%- else %>
<%= @voip_account.name %>
<%- end %></div>
<div class="field_container"><%= f.label :password %><%= f.text_field :password %></div>
<div class="field_container"><%= f.label :channels %>
<% if @currentuser.administrator -%>
<%= f.number_field :channels %>
<%- else %>
<%= @voip_account.channels %>
<%- end %></div></div>

<% if @currentuser.administrator -%>
<div class="field_container"><%= f.label :owner %><%= f.select(:owner_id, User.find(:all).collect {|c| [ c.name, c.id ] }) %></div>  
<%- end %>
<%= f.submit "Update" %>
<% end %>
<br/>
<br/>
<br/>
<br/>
<br/>
