<% content_for :title do %>Call Records<% end -%>
<h1>Call Records</h1>

<%= form_tag(cdr_data_voip_account_path(@voip_account), {:remote => true, :id => "search_cdrs", "data-type" => "json"}) do |f| %>
<div class="field_container"><%= label_tag :date1, "From" %><%= select_date @date1, :prefix => :date1 %> 00:00:01</div>
<div class="field_container"><%= label_tag :date2, "To" %><%= select_date @date2, :prefix => :date2 %> 23:59:59</div>
<%= submit_tag "Show", :disable_with => "Processing..." %>
<% end %>

<div id="cdr_display" class="hidden">
<span id="cdr_text"></span>
<table width="100%">
</table>
Total: $<span id="cdr_total"></span><br/>
</div>

<%= form_tag(cdr_data_voip_account_path(@voip_account, :format => :csv), :id => "cdr_csv_form", :class => "hidden") do |f| %>
<%= hidden_field(:date1, :year) %><%= hidden_field(:date1, :month) %><%= hidden_field(:date1, :day) %>
<%= hidden_field(:date2, :year) %><%= hidden_field(:date2, :month) %><%= hidden_field(:date2, :day) %>
<%= submit_tag "Above as CSV" %>
<% end %>

<script>
function CurrencyFormatted(amount) {
	var i = parseFloat(amount);
	if(isNaN(i)) { i = 0.00; }
	var minus = '';
	if(i < 0) { minus = '-'; }
	i = Math.abs(i);
	i = parseInt((i + .005) * 100);
	i = i / 100;
	s = new String(i);
	if(s.indexOf('.') < 0) { s += '.00'; }
	if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
	s = minus + s;
	return s;
}

function PadNumber(value, digits) {
	var text = value + "";
	if (text.length < digits) {
		var padding = "";
		do
			padding += "0";
		while ((padding + text).length < digits)
		return padding + text;
	} else
		return text;
}

$("#search_cdrs").bind('ajax:success', function(evt, data, status, xhr) {
	var start_date = new Date(data.from);
	var end_date = new Date(data.to);
	var date = new Date();
	$("#cdr_text").html("Calls from " + start_date.toDateString() + " until " + end_date.toDateString());
	var index;
	var object;
	$("#cdr_display").removeClass("hidden");
	var table = $("#cdr_display").find("table");
	table.html("");
	table.html("<tr><th>Date/Time</th><th>Number</th><th>Number Type</th><th>Duration</th><th>Cost</th></tr>");
	var row;
	for(number in data.cdrs) {
		row = "<tr>";
		object = data.cdrs[number];
		date.setTime(object.date * 1000);
		dateString = date.getFullYear() + "-" + PadNumber((date.getMonth() + 1), 2) + "-" + PadNumber(date.getDate(),2);
		dateString += " " + PadNumber(date.getHours(),2) + ":" + PadNumber(date.getMinutes(),2) + ":" + PadNumber(date.getSeconds(),2);
		row += "<td>" + dateString + "</td>";
		row += "<td>" + object.number + "</td>";
		if (object.cost != "UNKNOWN")
			row += "<td><a href=\"/voip_costs/" + object.cost_id + "\">" + object.cost + "</a></td>";
		else
			row += "<td>UNKNOWN</td>";
		row += "<td>" + object.duration + "</td>";
		if (object.cost != "UNKNOWN")
			row += "<td>$" + CurrencyFormatted(object.price / 100.0) + "</td>";
		else
			row += "<td>UNKNOWN</td>";
		row += "</tr>";
		table.append(row);
	}
	$("#cdr_total").html("" + CurrencyFormatted(data.total / 100.0));
	var csv_form = $("#cdr_csv_form");
	csv_form.removeClass("hidden");
	csv_form.find("#date1_year").val(start_date.getFullYear());
	csv_form.find("#date1_month").val(start_date.getMonth() + 1);
	csv_form.find("#date1_dat").val(start_date.getDate());
	csv_form.find("#date2_year").val(end_date.getFullYear());
	csv_form.find("#date2_month").val(end_date.getMonth() + 1);
	csv_form.find("#date2_day").val(end_date.getDate());
});
</script>