Date/Time,number,duration,type,cost
<%= CSV.generate do |csv|
  @cdrs[:data].each do |cdr|
    csv << [Time.at(cdr[:date]).rfc2822, cdr[:number], cdr[:duration], cdr[:cost], cdr[:price]]
  end
end.html_safe %>