<% content_for :title do %>Voip Accounts<% end -%>
<h1>Voip Accounts</h1>
<table width="100%">
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th></th>
    <% if @currentuser.administrator %><th></th><%- end %>
  </tr>

<% @voip_accounts.each do |voip_account| %>
  <tr>
    <td><%= link_to(voip_account.name, voip_account) %></td>
    <td><%= link_to(voip_account.password, edit_voip_account_path(voip_account)) %></td>
    <td><%= link_to 'Call Records', cdr_voip_account_path(voip_account) %></td>
    <% if @currentuser.administrator %><td><%= link_to 'Destroy', voip_account, confirm: 'Are you sure?', method: :delete %></td><%- end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voip account', new_voip_account_path %>
