<% content_for :title do %>Voip Account Details<% end -%>
<h1>Voip Account Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @voip_account.name %>
</p>

<p>
  <b>Password:</b>
  <%= @voip_account.password %>
</p>

<p>
  <b>Channels:</b>
  <%= @voip_account.channels %>
</p>

<%= link_to 'Call Records', cdr_voip_account_path(@voip_account) %> | 
<%= link_to 'Edit', edit_voip_account_path(@voip_account) %> |
<%= link_to 'Back', voip_accounts_path %>
