<% if controller.action_name == "edit" and controller.controller_name == "users" -%>
<h2 class="selected">Modify Profile
<%- else %>
<h2><%= link_to("Modify Profile", edit_user_path(@currentuser)) -%>
<%- end %></h2>

<% if @currentuser.administrator %>
<% if controller.action_name == "index" and controller.controller_name == "users" -%>
<h2 class="selected">System Users
<%- else %>
<h2><%= link_to("System Users", users_path) -%>
<%- end %></h2>
<ul>
	<% if controller.action_name == "new" and controller.controller_name == "users" %>
		<li class="selected">Create New User
	<%- else %>
		<li><%= link_to("Create New User", new_user_path) -%>
	<%- end %></li>
</ul>
<%- end %>

<% if controller.controller_name != "domains" -%>
<h2><%= link_to("Domains", domains_path) %></h2>
<% else -%>
<h2>Domains</h2>
<ul>
<% if @currentuser.administrator -%>
	<%- if controller.action_name == "index" and controller.controller_name == "domains" %>
		<li class="selected">Show All Domains</span>
	<%- else %>
		<li><%= link_to("Show All Domains", domains_path) -%>
	<%- end %></li>
	<% if controller.action_name == "new" and controller.controller_name == "domains" %>
		<li class="selected">Create New Domain
	<%- else %>
		<li><%= link_to("Create New Domain", new_domain_path) -%>
	<%- end %></li>
<% else -%>
	<%- if controller.action_name == "index" and controller.controller_name == "domains" %>
		<li class="selected">Show My Domains</span>
	<%- else %>
		<li><%= link_to("Show My Domains", domains_path) -%>
	<%- end %></li>
<% end -%>
</ul>
<%- end %>
<br/>
<% if @domain -%>
	<% if controller.action_name == "show" and controller.controller_name == "domains" %>
		<h2 class="selected"><%= @domain.name %>
	<%- else %>
		<h2><%= link_to(@domain.name, @domain) %>
	<%- end %></h2>

	<% if @domain.email %>
	<h2>Email</h2>
	<ul>
		<%- if controller.action_name == "new" and controller.controller_name == "mailalias_sources" %>
			<li class="selected">Add Alias
		<%- else %>
			<li><%= link_to("Add Alias", new_domain_mailalias_source_path(@domain)) %>
		<%- end %></li>
		<%- if controller.action_name == "new" and controller.controller_name == "mailusers" %>
			<li class="selected">Add User
		<%- else %>
			<li><%= link_to("Add User", new_domain_mailuser_path(@domain)) %>
		<%- end %></li>
	</ul>
	<% end -%>
<% end -%>
<br/>

<%- if controller.controller_name != "voip_accounts" %>
<h2><%= link_to("VoIP Accounts", voip_accounts_path) %></h2>
<%- else %>
<h2>VoIP Accounts</h2>
<%- end %>
<ul>
<% if @currentuser.administrator -%>
<%- if controller.action_name == "index" and controller.controller_name == "voip_accounts" %>
		<li class="selected">Show All Accounts</span>
	<%- else %>
		<li><%= link_to("Show All Accounts", voip_accounts_path) -%>
	<%- end %></li>
	<% if controller.action_name == "new" and controller.controller_name == "voip_accounts" %>
		<li class="selected">Create New Account
	<%- else %>
		<li><%= link_to("Create New Accounts", new_voip_account_path) -%>
	<%- end %></li>
<% else -%>
	<%- if controller.action_name == "index" and controller.controller_name == "voip_accounts" %>
		<li class="selected">Show My Accounts</span>
	<%- else %>
		<li><%= link_to("Show My Accounts", voip_accounts_path) -%>
	<%- end %></li>
<% end -%>
</ul>

<%- if @currentuser.administrator -%>
<%- if controller.controller_name != "voip_costs" %>
<h2><%= link_to("VoIP Costings", voip_costs_path) %></h2>
<%- else %>
<h2>VoIP Costings</h2>
<%- end %>
<%- end %>

<h2><%= link_to("Logout", :action => "logout", :controller => "index") -%></h2>