<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Smooth and Sleek by christopher robinson
	http://www.edg3.co.uk/
	hope you enjoy it and find it usefull :)

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<title><%= yield(:title) %> | <%= SITE_NAME %> Admin</title>
<%= yield(:head) %>
<!--	<link rel="shortcut icon" href="image/favicon.ico" /> -->
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en-gb" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="author" content="Christopher Robinson" />
	<meta name="copyright" content="Copyright (c) Christopher Robinson 2005 - 2007" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />	
	<meta name="last-modified" content="Sat, 01 Jan 2007 00:00:00 GMT" />
	<meta name="mssmarttagspreventparsing" content="true" />	
	<meta name="robots" content="index, follow, noarchive" />
	<meta name="revisit-after" content="7 days" />
</head>
<body>
	<div id="header">
		<div id="header_inside">
			<h1><span>Sektor</span> Seven</h1>
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="https://support.sektorseven.net/">Support</a></li>
				<li><a class="active" href="#">Admin</a></li>
				<li><a href="products.html">Products</a></li>
				<li><a href="http://www.sektorseven.net/">News</a></li>
			</ul>
		</div>
	</div>

	<div id="content">
		<div id="content_inside">
			<div id="content_inside_sidebar">
			<% if content_for?(:sidebar) %><%= yield :sidebar %><% else %><%= render "layouts/sidebar" %><% end %>
			</div>
			<div id="content_inside_main">
<%= yield %>
			</div>	
		</div>	
	</div>

	<div id="footer">
		<div id="footer_inside">
			<p>Copyright &copy; <a href="#">Smooth and Sleek</a> 2007 | Designed by <a href="http://www.edg3.co.uk/">edg3.co.uk</a> | Sponsored by <a href="http://www.opendesigns.org/">Open Designs</a> | Valid <a href="http://jigsaw.w3.org/css-validator/">CSS</a> &amp; <a href="http://validator.w3.org/">XHTML</a></p>
		</div>
	</div>
</body>
</html>